
#canvas {
    position:relative;
    float:right;
    background-color:#339999;
}
#input {
    position:relative;
    float:left;
    background-color:#eee;
    border-style:groove;
    border-width: 10px;

}
